<% provide(:title, "Admin Area | General Settings") %>
<% if flash[:alert] %>
  <div class="alert alert-danger center"><%= flash[:alert] %></div>
<% end %>


  <div class="sidenav">
    <a href="/admin" id="admin-main"><b>Admin Area</b></a>
    <a href="/admin/admin_setting">General Settings</a>
    <a href="/admin/users">Manage Users</a>
    <a href="/bookings">Bookings</a>

  </div>

  <div class="setting">
    <h1> General Setting </h1>
    <hr><br>
      <div class="general-settings">
          <div>Add An Organization</div><hr><br>
          <%= form_for @new_organization, url:{controller: "admin/admin_setting", action:"add_organization"} do |f| %>
            <%= f.text_field :name, class: "profile-text" %>
            <%= f.submit "Add", class: 'btn btn-blue' %>
          <% end %>
          <br>
          <div>Remove An Organization</div><hr>
          <%= form_for @new_organization, url:{controller: "admin/admin_setting", action:"remove_organization"} do |f| %>
            <h5 class="disclaimer"><i class="fas fa-exclamation-triangle"></i> Warning: Please proceed with caution. Removing an organization results in removal of the users who belong to that organization and all their bookings.</h5>
            <br>
            <%= select_tag :remove_organization, options_from_collection_for_select(Organization.all, :id, :name), include_blank: "Select an Organization..." %>
            <%= f.submit "Remove", class: 'btn btn-red' %>
          <% end %>

    </div>


  </div>
