<% provide(:title, "Admin Area | User Settings") %>
<% if flash[:notice] %>
  <div class="alert alert-success center"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger center"><%= flash[:alert] %></div>
<% end %>


<h2> User Setting </h2>

<div class="edit-column">
  <div class="setting-title">User Settings</div>
  <div class="general-settings">
      <br><br>

    <div class="search-form" style="display:inline"> Search for users:
    <%= form_tag search_admin_users_path, method: :get, action: :search do %>
      <%= text_field_tag 'query', nil, placeholder: 'Search users by name, username, email, organization...', class:'profile-text' %><br>
      <%= submit_tag "Search", class: 'update-button' %>
    <% end %>
    </div>

    <% if @found_users.any? %>

        <table class="admin-search-results">
          <tr>
            <th class="header">Name</th>
            <th class="header">Username</span></th>
            <th class="header">Email</th>
            <th class="header">Organization</th>
            <th class="header">Update Role</th>
          </tr>

        <% @found_users.each do |user| %>
          <tr>
            <td><%=
                user.get_full_name
            %></td>
            <td><%=
                user.username
            %></td>
            <td><%=
                user.email
            %></td>
            <td><%=
                user.organization.name
            %></td>

            <% unless user.admin? %>
              <td>
                <%= link_to("Make Admin",  make_admin_user_path(id: user.id), method: :post, class:'btn btn-blue') %>
              </td>
            <% else %>
              <td>
                <%= link_to("Make Staff",  make_staff_user_path(id: user.id), method: :post, class:'btn btn-green') %>
              </td>
            <% end %>
          </tr>


        <%end%>

        </table>

    <% else %>
        No results
    <% end %>
    <br><br>


    <table class="admin-user-table">
      <tr>
        <th class="header">Name</th>
        <th class="header">Username</span></th>
        <th class="header">Email</th>
        <th class="header">Organization</th>
        <th class="header">Update Role</th>
      </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%=
            user.get_full_name
        %></td>
        <td><%=
            user.username
        %></td>
        <td><%=
            user.email
        %></td>
        <td><%=
            user.organization.name
        %></td>

        <% unless user.admin? %>
          <td>
            <%= link_to("Make Admin",  make_admin_user_path(id: user.id), method: :post, class:'btn btn-blue') %>
          </td>
        <% else %>
          <td>
            <%= link_to("Make Staff",  make_staff_user_path(id: user.id), method: :post, class:'btn btn-green') %>
          </td>
        <% end %>
      </tr>


    <%end%>

    </table>


  </div>



</div>
